footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer h6 {
  color: #0e0f3b;
  margin-bottom: 10px;
}

footer .dire {
  font-size: large;
  color: #799ab4;
}

footer .dire h6 {
  font-size: 0.8rem;
  font-family: 'Orbitron', sans-serif;
  color: #799ab4;
}

footer .dire p {
  margin: 2px;
  color: whitesmoke;
}

footer .dire a {
  text-shadow: none;
  color: whitesmoke;
}

footer .dire a:hover {
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f;
}

footer .footer__marca {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__marca .img {
  width: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .logo {
  width: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin-left: 5px;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f;
}

footer .eslogan {
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
}

footer .redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

footer .redes img {
  width: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 10px;
}

footer .redes img:hover {
  -webkit-filter: drop-shadow(0 0 2px #378b72);
          filter: drop-shadow(0 0 2px #378b72);
}

footer a {
  color: white;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f;
  font-size: 1, 3rem;
  text-decoration: none;
}

footer a:hover {
  color: #90f8f8;
}

header {
  background: #0e0f3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .marca a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3px;
  padding: 3px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  text-decoration: none;
}

header .marca a .logo {
  width: 60px;
}

header .marca a h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin: 0px 5px;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f;
  list-style-type: none;
}

header .eslogan {
  color: whitesmoke;
  font-family: 'Staatliches';
  margin: 2px;
  text-align: center;
  letter-spacing: 2px;
}

header .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 40px;
}

header .redes img {
  width: 40px;
  margin: 0px 10px;
}

header .redes img:hover {
  -webkit-filter: drop-shadow(0 0 2px #4cf7c3);
          filter: drop-shadow(0 0 2px #4cf7c3);
}

.repuestos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.repuestos .categorias {
  float: left;
  background-color: #0e0f3b;
  margin: 0 10px 0 0;
  color: whitesmoke;
  font-family: 'orbitron';
  text-transform: capitalize;
  text-align: left;
  letter-spacing: 2px;
}

.repuestos .categorias ul {
  padding: 10px;
}

.repuestos .categorias ul li {
  padding-bottom: 10px;
  list-style: none;
}

.repuestos .categorias ul li:hover {
  color: #98bde0;
}

.recomendaciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat 3, 1fr;
      grid-template-rows: repeat 3, 1fr;
      grid-template-areas: "reco1 reco1 reco2" "reco3 reco4 reco4" "reco3 reco5 reco6";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recomendaciones div {
  margin: 20px;
  padding: 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  justify-self: center;
  text-shadow: 2px 2px 2px #2e2b2b;
  color: rgba(255, 255, 255, 0.973);
  height: 400px;
}

.recomendaciones .reco1 {
  background-image: url(../media/tips/reco1.jpg);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: reco1;
}

.recomendaciones .reco2 {
  color: #292828;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: reco2;
  background: none;
  text-shadow: none;
}

.recomendaciones .reco3 {
  height: auto;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: reco3;
  background-image: url(../media/tips/reco3.jpg);
}

.recomendaciones .reco4 {
  color: #080808;
  text-shadow: 2px 2px 2px white;
  background-image: url(../media/tips/reco4.jpg);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: reco4;
}

.recomendaciones .reco5 {
  color: #292828;
  background: none;
  text-shadow: none;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: reco5;
}

.recomendaciones .reco6 {
  background-image: url(../media/tips/reco6.jpg);
  color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: reco6;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articulos div {
  width: 220px;
  height: 330px;
  color: #221f1f;
  background-color: white;
  margin: 20px;
  padding: 5px;
  border: solid #bebbbb 1px;
  border-radius: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.articulos div:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-box-shadow: 2px 2px 5px #999;
          box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}

.articulos .catsoft {
  border-radius: 0%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.articulos .catsoft img {
  width: 25%;
}

.articulos .catsoft div {
  width: auto;
  height: auto;
  text-align: center;
  justify-items: center;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.gameneews {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.recreo__uno, .recreo__dos {
  background-color: #e8e7f3;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recreo__uno div, .recreo__dos div {
  width: 50%;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.recreo__uno iframe, .recreo__dos iframe {
  width: 50%;
}

.recreo__dos {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.direcMapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

.direcMapa .formulario {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 550px;
  padding: 6px;
  border-radius: 10px;
  background: #0e0f3b;
  letter-spacing: 2px;
  color: aliceblue;
  text-indent: 10px;
}

.direcMapa .formulario .enviarForm input {
  text-transform: capitalize;
  color: #1a1a49;
  padding: 2px;
}

.direcMapa .formulario .enviarForm input:hover {
  color: whitesmoke;
  background-color: #2a1c75;
}

.direcMapa .ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px;
  width: auto;
  height: auto;
  color: #1b193d;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direcMapa .ubicacion .direccion {
  margin: 15px;
}

.direcMapa .ubicacion .direccion p {
  margin: 0%;
  font-size: 1.2rem;
}

.direcMapa .ubicacion iframe {
  width: auto;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../media/principales/techgris.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Rajdhani', sans-serif;
  position: relative;
}

.separador {
  color: #1a1638;
  text-align: center;
  margin: 30px 5px 10px 5px;
}

.nav-item {
  margin: 0px 10px;
}

.nav-item .nav-link:hover {
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f !important;
}

@media screen and (max-width: 960px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    display: none;
  }
  header h1 {
    font-size: 2rem;
  }
  header .eslogan {
    font-size: 1rem;
  }
  header .redes {
    display: none;
  }
  .categorias {
    display: none;
  }
  .articulos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .articulos .catsoft {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recreo div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .direcMapa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }
  .direcMapa .ubicacion {
    margin-top: 20px;
  }
  footer {
    background: #0e0f3b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  footer h6 {
    color: whitesmoke;
    letter-spacing: 2px;
  }
  footer .logo {
    display: none;
  }
  .recomendaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recomendaciones div {
    margin: 2%;
    padding: 2%;
    font-size: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .recomendaciones .reco3 {
    display: none;
  }
  .recomendaciones .reco4 {
    display: none;
  }
  .recomendaciones .reco5 {
    display: none;
  }
}
