footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .dire {
  font-size: large;
  color: whitesmoke;
}

footer .footer__marca {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__marca .img {
  width: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .logo {
  width: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin-left: 5px;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}

footer .eslogan {
  color: whitesmoke;
  font-family: 'Staatliches', cursive;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
}

footer .redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

footer .redes img {
  width: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
}

footer a {
  color: white;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
  font-size: 1, 3rem;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .marca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  padding: 3px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .marca .logo {
  width: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .marca h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin-left: 5px;
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}

header .eslogan {
  color: whitesmoke;
  font-family: 'Staatliches';
  display: inline-block;
  text-align: left;
  letter-spacing: 2px;
}

header .redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

header .redes img {
  width: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
}

.repuestos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.repuestos .categorias {
  float: left;
  width: 25%;
  background-color: #2758b3;
  margin: 20px;
  color: whitesmoke;
  text-transform: capitalize;
  text-align: left;
  letter-spacing: 2px;
}

.repuestos .categorias ul {
  padding: 10px;
}

.repuestos .categorias ul li {
  padding-bottom: 10px;
  list-style: none;
}

.repuestos .categorias ul li:hover {
  color: #98bde0;
  font-size: 105%;
}

.recomendaciones {
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: repeat 3, 1fr;
      grid-template-rows: repeat 3, 1fr;
      grid-template-areas: "reco1 reco1 reco2" "reco3 reco4 reco4" "reco3 reco5 reco6";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recomendaciones div {
  margin: 20px;
  padding: 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  justify-self: center;
  text-shadow: 2px 2px 2px #2e2b2b;
  color: rgba(255, 255, 255, 0.973);
  height: 400px;
}

.recomendaciones .reco1 {
  background-image: url(../media/tips/reco1.jpg);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: reco1;
}

.recomendaciones .reco2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: reco2;
  background-image: url(../media/tips/reco2.jpg);
}

.recomendaciones .reco3 {
  height: auto;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: reco3;
  background-image: url(../media/tips/reco3.jpg);
}

.recomendaciones .reco4 {
  color: #080808;
  text-shadow: 2px 2px 2px white;
  background-image: url(../media/tips/reco4.jpg);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: reco4;
}

.recomendaciones .reco5 {
  background-image: url(../media/tips/reco5.jpg);
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: reco5;
}

.recomendaciones .reco6 {
  background-image: url(../media/tips/reco6.jpg);
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: reco6;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articulos div {
  color: #221f1f;
  background-color: whitesmoke;
  margin: 20px;
  padding: 5px;
  border: solid grey 2px;
  border-radius: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.articulos div:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.articulos .catsoft {
  border: none;
  border-radius: 0%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.articulos .catsoft div {
  text-align: center;
  justify-items: center;
  border-radius: 0%;
  border-left: #b3acac 2px;
}

.recreo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: black;
}

.recreo__uno, .recreo__dos {
  background-color: #e8e7f3;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recreo__uno div, .recreo__dos div {
  width: 50%;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.recreo__uno iframe, .recreo__dos iframe {
  width: 50%;
}

.recreo__dos {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #291e42;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  font-family: 'Rajdhani', sans-serif;
  position: relative;
}

.separador {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: whitesmoke;
  background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
  padding: 15px;
  text-align: center;
  grid-area: separador;
}

.direcMapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.direcMapa .formulario {
  width: 550px;
  height: 550px;
  margin: 10px;
  padding: 6px;
  background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
  letter-spacing: 2px;
  color: aliceblue;
  text-indent: 10px;
}

.direcMapa .formulario input.enviarForm {
  text-transform: capitalize;
}

.direcMapa .ubicacion {
  width: 550px;
  height: 550px;
  margin: 10px;
  padding: 3px;
  background-image: linear-gradient(315deg, #2a2a72 0%, #0019fdcc 74%);
  letter-spacing: 2px;
  color: aliceblue;
  text-align: center;
}

.direcMapa .ubicacion li {
  list-style: none;
}

@media screen and (max-width: 960px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    display: none;
  }
  header h1 {
    font-size: 2rem;
  }
  header .eslogan {
    font-size: 1rem;
  }
  header .redes {
    display: none;
  }
  .categorias {
    display: none;
  }
  .articulos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .articulos .catsoft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recreo div {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .direcMapa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    display: block;
  }
  .footer1 {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foter2 {
    font-size: 0.8rem;
  }
  .recomendaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .recomendaciones div {
    margin: 2%;
    padding: 2%;
    font-size: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
