@import "_variables";
footer {
    padding: 10px;
    display: flex;
    background: $fondo_grad;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    h6{
        color: $fondo_solid;
        margin-bottom: 10px;
    }
    .dire {
        font-size: large;
        color: #799ab4;
        h6{
            font-size: 0.8rem;
            font-family: 'Orbitron', sans-serif;
            color: #799ab4;
        }
        p{
            margin: 2px;
            color: whitesmoke;
        }
        a{
            text-shadow: none;
            color: whitesmoke;
            &:hover{
                text-shadow: $neon;
            }
        }
    }
    .footer__marca {
        flex-direction: column;
        align-items: center;
        .img {
            width: 60px;
            flex-direction: row;
        }
    }
    .logo {
        width: 60px;
        flex-direction: row;
    }
    h1 {
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
        margin-left: 5px;
        text-shadow: $neon;
    }
    .eslogan {
        color: whitesmoke;
        font-family: 'Staatliches', cursive;
        display: inline-block;
        text-align: center;
        letter-spacing: 2px;
    }
    .redes {
        display: inline-flex;
        justify-content: space-evenly;
        margin: 10px;
        img {
            width: 32px;
            flex-direction: row;
            margin:0px 10px;
            &:hover{
                filter: drop-shadow(0 0 2px rgb(55, 139, 114));
            }
        }
    }
    a {
        color: white;
        text-shadow: $neon;
        font-size: 1, 3rem;
        text-decoration: none;
        &:hover{
            color: rgb(144, 248, 248);
        }
    }
}