@import "_variables";
footer {
    width: 100%;
    display: flex;
    background: $fondo_grad;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    h6{
        color: $fondo_solid;
        margin-bottom: 10px;
    }
    .dire {
        font-size: large;
        color: whitesmoke;
    }
    .footer__marca {
        flex-direction: column;
        align-items: center;
        .img {
            width: 60px;
            flex-direction: row;
        }
    }
    .logo {
        width: 60px;
        flex-direction: row;
    }
    h1 {
        color: #ffffff;
        font-family: 'Orbitron', sans-serif;
        font-size: 3rem;
        margin-left: 5px;
        text-shadow: $neon;
    }
    .eslogan {
        color: whitesmoke;
        font-family: 'Staatliches', cursive;
        display: inline-block;
        text-align: center;
        letter-spacing: 2px;
    }
    .redes {
        display: inline-flex;
        justify-content: space-evenly;
        margin: 10px;
        img {
            width: 32px;
            flex-direction: row;
            margin-right: 5px;
        }
    }
    a {
        color: white;
        text-shadow: $neon;
        font-size: 1, 3rem;
        text-decoration: none;
    }
}