.repuestos {
    display: flex;
    flex-direction: row;
    height: auto;
    .categorias {
        float: left;
        width: 30%;
        background-color: $fondo_solid;
        margin: 0 10px 0 0;
        color: whitesmoke;
        font-family: 'orbitron';
        text-transform: capitalize;
        text-align: left;
        letter-spacing: 2px;
        ul {
            padding: 10px;
            li {
                padding-bottom: 10px;
                list-style: none;
                &:hover {
                    color: rgb(152, 189, 224);
                    font-size: 105%;
                }
            }
        }
    }
}