header {
    background: $fondo_solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .marca a{
        display: flex;
        flex-direction: row;
        margin: 3px;
        padding: 3px;
        align-content: flex-start;
        text-decoration: none;
        .logo {
            width: 60px;
        }
        h1 {
            color: #ffffff;
            font-family: 'Orbitron', sans-serif;
            font-size: 3rem;
            margin: 0px 5px;
            text-shadow: $neon;
            list-style-type: none;
        }
    }
    .eslogan {
        color: whitesmoke;
        font-family: 'Staatliches';
        margin: 2px;
        text-align: center;
        letter-spacing: 2px;
    }
    .redes {
        display: flex;
        justify-content: space-around;
        margin-right: 40px;
        img {
            width: 40px;
            margin: 0px 10px;
            &:hover{
                filter: drop-shadow(0 0 2px rgb(76, 247, 195));
            }
        }
    }
}