header {
    background: $fondo_solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .marca {
        display: flex;
        margin: 3px;
        padding: 3px;
        align-items: flex-start;
        .logo {
            width: 60px;
            flex-direction: row;
        }
        h1 {
            color: #ffffff;
            font-family: 'Orbitron', sans-serif;
            font-size: 3rem;
            margin-left: 5px;
            text-shadow: $neon;
        }
    }
    .eslogan {
        color: whitesmoke;
        font-family: 'Staatliches';
        display: flex;
        justify-content: center;
        letter-spacing: 2px;
    }
    .redes {
        display: flex;
        justify-content: space-evenly;
        img {
            width: 32px;
            flex-direction: row;
            margin-right: 5px;
        }
    }
}