@import "variables";
.gamenews {
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: black;
}


@mixin recreo_estilo {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
        width: 80%;
        text-align: center;
        padding: 10px;
    }
    iframe {
        width: 90%;
    }
}

.recreo__uno {
    @include recreo_estilo()
}

.recreo__dos {
    @extend .recreo__uno;
    flex-direction: row-reverse;
}

