@import "footer";
@import "header";
@import "hard";
@import "variables";
@import "recomendaciones";
@import "articulos";
@import "recreo";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../media/techgris.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
}

.separador {
    color: rgb(26, 22, 56);
    padding: 15px;
    text-align: center;
    margin: 20px 0 10px 0;
    grid-area: separador;
}

.direcMapa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    .formulario {
        width: 35%;
        height: 550px;
        margin: 10px;
        padding: 6px;
        background-image: $fondo_grad;
        letter-spacing: 2px;
        color: aliceblue;
        text-indent: 10px;
        input.enviarForm {
            text-transform: capitalize;
        }
    }
    .ubicacion {
        width: 35%;
        height: 550px;
        margin: 10px;
        padding: 3px;
        background-image: $fondo_grad;
        letter-spacing: 2px;
        color: aliceblue;
        text-align: center;
        iframe{
            width: 90%;
            height: 400px;
        }
        li {
            list-style: none;
        }
    }
}


// vista movile hasta 960px //
@media screen and (max-width: 960px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            display: none;
        }
        h1 {
            font-size: 2rem;
        }
        .eslogan {
            font-size: 1rem;
        }
        .redes {
            display: none;
        }
    }
    .categorias {
        display: none;
    }
    .articulos {
        flex-flow: row wrap;
        justify-content: space-evenly;
        .catsoft {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .recreo div {
        width: 100%;
        flex-direction: column;
    }
    .direcMapa {
        flex-direction: column;
        .formulario{
            width: 90%;
        }
        .ubicacion{
            width: 90%;
        }
    }
    footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h6{
            color: whitesmoke;
        }
        .dire{
            color: $fondo_solid;
        }
        .logo{
            display: none;
        }
    }
    .recomendaciones {
        display: flex;
        flex-direction: column;
        width: 95%;
        div {
            margin: 2%;
            padding: 2%;
            font-size: 1rem;
            height: fit-content;
        }
    }
}